form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

/* Style the labels */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    
}

/* Style the form inputs */
input[type="text"],
select {
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 16px;
    background-color: #007bff39;
}

/* Style the submit button */
button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

/* Style the result input */
#res {
    background-color: #f7f7f7;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

/* Optional: Add some spacing between form elements */
/* Adjust the margin-top and margin-bottom values as needed */
form > * {
    margin-bottom: 15px;
}